<div class="row">
  <div class="col-auto text-white">
    <button type="button" class="btn btn-danger btn-lg btn-block" id="generator">Let's get started</button>
  </div>
  <div class="col-mid-7 text-">
    <br>
    <p>Exercise Name: {{name}}</p> 
    <p>Brief Description: {{information}}</p>
    <p>Target Area: {{bodyPart}}</p>
    <p>Equipment Needed: {{equipment}}</p>
    <p>Instructions: {{gifUrl}}</p>
  </div>
  <div class="col-auto text-white">
    <button type="button" class="btn btn-danger btn-lg btn-block" id="save">Save Exercise</button>
  </div>
</div>

<script src="/js/homepage.js"></script>