<div class="row">
  <div class="col-auto text-white font-mono">
    <button type="button" class="btn btn-danger btn-lg btn-block font-sans Graphik" id="generator">Let's get started</button>
  </div>
  <div class="col-mid-7 text-red-700 font-mono">
    <h2>All information about your exercise:</h2>
    <p>Exercise: {{name}}, Description: {{information}}</p>
    <p>Targeted Area: {{bodyPart}}</p>
    <p>Needed equipment: {{equipment}}</p>
    <p>How it's done: {{gifUrl}}</p>
  </div>
  {{!-- <div class="col-auto text-white">
    <button type="button" class="btn btn-danger btn-lg btn-block" id="save">Save Exercise</button>
  </div> --}}
</div>

<script src="/js/homepage.js"></script>