<h2>{{user.username}}'s Profile</h2>

<h3>Saved Exercises:</h3>
<ul>
  {{#each user.Exercises}}
    <li>
      <p>Exercise: {{name}}</p>
      <p>Targeted Area: {{bodyPart}}</p>
      <p>Needed equipment: {{equipment}}</p>
      <p>How it's done: {{gifUrl}}</p>

<script type="text/javascript" src="./js/homepage.js"></script>
